Repository Icinga/icingaweb2, pull requests merged in 2019-07, with the labels that each got.

#3840 README: Add URL for security issues
  README.md
Labels: area/documentation

#3838 Update php vendor libraries
  library/vendor/JShrink/LICENSE
  library/vendor/JShrink/Minifier.php
  library/vendor/JShrink/SOURCE
  library/vendor/Parsedown/Parsedown.php
  library/vendor/Parsedown/SOURCE
  library/vendor/dompdf/SOURCE
  library/vendor/dompdf/lib/Cpdf.php
  library/vendor/dompdf/lib/res/broken_image.svg
  library/vendor/dompdf/src/Adapter/CPDF.php
  library/vendor/dompdf/src/Adapter/PDFLib.php
  library/vendor/dompdf/src/CanvasFactory.php
  library/vendor/dompdf/src/Css/Style.php
  library/vendor/dompdf/src/Css/Stylesheet.php
  library/vendor/dompdf/src/Dompdf.php
  library/vendor/dompdf/src/FontMetrics.php
  library/vendor/dompdf/src/Frame.php
  library/vendor/dompdf/src/Frame/FrameTree.php
  library/vendor/dompdf/src/FrameDecorator/AbstractFrameDecorator.php
  library/vendor/dompdf/src/FrameDecorator/ListBullet.php
  library/vendor/dompdf/src/FrameDecorator/Page.php
  library/vendor/dompdf/src/FrameReflower/AbstractFrameReflower.php
  library/vendor/dompdf/src/FrameReflower/Block.php
  library/vendor/dompdf/src/FrameReflower/Table.php
  library/vendor/dompdf/src/FrameReflower/Text.php
  library/vendor/dompdf/src/Helpers.php
  library/vendor/dompdf/src/Image/Cache.php
  library/vendor/dompdf/src/Options.php
  library/vendor/dompdf/src/Positioner/ListBullet.php
  library/vendor/dompdf/src/Renderer/ListBullet.php
  library/vendor/dompdf/src/Renderer/Text.php
  library/vendor/lessphp/LICENSE
  library/vendor/lessphp/SOURCE
  library/vendor/lessphp/lessc.inc.php
Labels: area/framework, area/vendor-libs

#3836 Fix double query execution
  library/Icinga/Data/SimpleQuery.php
Labels: area/framework, bug

#3828 Add Ukrainian language support
  application/locale/uk_UA/LC_MESSAGES/icinga.mo
  application/locale/uk_UA/LC_MESSAGES/icinga.po
  modules/doc/application/locale/uk_UA/LC_MESSAGES/doc.mo
  modules/doc/application/locale/uk_UA/LC_MESSAGES/doc.po
  modules/monitoring/application/locale/uk_UA/LC_MESSAGES/monitoring.mo
  modules/monitoring/application/locale/uk_UA/LC_MESSAGES/monitoring.po
  modules/setup/application/locale/uk_UA/LC_MESSAGES/setup.mo
  modules/setup/application/locale/uk_UA/LC_MESSAGES/setup.po
Labels: area/localization, enhancement

#3814 Make notes, comments and announcements markdown aware
  library/Icinga/Web/FileCache.php
  library/Icinga/Web/Helper/HtmlPurifier.php
  library/Icinga/Web/Helper/Markdown.php
  library/Icinga/Web/View/helpers/string.php
  library/Icinga/Web/Widget/Announcements.php
  library/Icinga/Web/Widget/ApplicationStateMessages.php
  modules/monitoring/application/controllers/EventController.php
  modules/monitoring/application/views/scripts/downtime/show.phtml
  modules/monitoring/application/views/scripts/partials/comment/comment-detail.phtml
  modules/monitoring/application/views/scripts/partials/downtime/downtime-header.phtml
  modules/monitoring/application/views/scripts/partials/event-history.phtml
  modules/monitoring/application/views/scripts/show/components/acknowledgement.phtml
  modules/monitoring/application/views/scripts/show/components/comments.phtml
  modules/monitoring/application/views/scripts/show/components/downtime.phtml
  modules/monitoring/application/views/scripts/show/components/notes.phtml
Labels: area/ui, enhancement

#3834 Support higher number of problems in the tactical overview
  library/Icinga/Chart/Donut.php
Labels: area/monitoring, area/ui, bug

#3831 AnnouncementForm: Don't disable author field if it's an API request
  application/forms/Announcement/AnnouncementForm.php
Labels: enhancement

#3835 ui: Show problem badges in collapsed sidebar
  library/Icinga/Web/Navigation/Renderer/BadgeNavigationItemRenderer.php
  public/css/icinga/layout.less
Labels: area/ui, bug

#3845 Add tactical overview to global search
  modules/monitoring/application/views/scripts/tactical/index.phtml
  modules/monitoring/configuration.php
  public/css/icinga/widgets.less
Labels: area/monitoring, enhancement

#3853 Document the logging config option 'php'
  doc/03-Configuration.md
Labels: area/documentation, enhancement

#3849 Add possibility to disable permission checks for hooks
  library/Icinga/Application/Hook.php
  library/Icinga/Application/Modules/Module.php
Labels: area/modules, enhancement

#3856 Send failed login-attempts to the audit log
  library/Icinga/Authentication/AuthChain.php
Labels: area/authentication, enhancement

#3862 Provide ConfigFormEventsHook
  application/forms/ConfigForm.php
  application/locale/de_DE/LC_MESSAGES/icinga.mo
  application/locale/de_DE/LC_MESSAGES/icinga.po
  doc/60-Hooks.md
  library/Icinga/Application/Hook/ConfigFormEventsHook.php
Labels: area/configuration, area/framework, enhancement

#3857 Fix wrong window title on some pages
  application/controllers/AboutController.php
  application/controllers/AccountController.php
  application/controllers/AnnouncementsController.php
  application/controllers/AuthenticationController.php
  application/controllers/ConfigController.php
  application/controllers/GroupController.php
  application/controllers/ListController.php
  application/controllers/NavigationController.php
  application/controllers/RoleController.php
  application/controllers/UserController.php
  application/controllers/UsergroupbackendController.php
  application/layouts/scripts/body.phtml
  application/layouts/scripts/layout.phtml
  library/Icinga/Web/Controller/ActionController.php
  modules/monitoring/application/controllers/CommentController.php
  modules/monitoring/application/controllers/CommentsController.php
  modules/monitoring/application/controllers/ConfigController.php
  modules/monitoring/application/controllers/DowntimeController.php
  modules/monitoring/application/controllers/DowntimesController.php
  modules/monitoring/application/controllers/EventController.php
  modules/monitoring/application/controllers/HealthController.php
  modules/monitoring/application/controllers/HostController.php
  modules/monitoring/application/controllers/HostsController.php
  modules/monitoring/application/controllers/ServiceController.php
  modules/monitoring/application/controllers/ServicesController.php
  modules/monitoring/application/controllers/ShowController.php
  modules/monitoring/application/controllers/TacticalController.php
  modules/setup/application/controllers/IndexController.php
  public/js/icinga/loader.js
Labels: area/navigation, bug

#3852 CLI: Automatically load enabled modules if not disabled
  library/Icinga/Cli/Command.php
Labels: area/cli, enhancement

#3638 Persistent Collapsible Containers
  application/fonts/fontello-ifont/config.json
  application/fonts/fontello-ifont/css/ifont-codes.css
  application/fonts/fontello-ifont/css/ifont-embedded.css
  application/fonts/fontello-ifont/css/ifont-ie7-codes.css
  application/fonts/fontello-ifont/css/ifont-ie7.css
  application/fonts/fontello-ifont/css/ifont.css
  application/fonts/fontello-ifont/demo.html
  application/fonts/fontello-ifont/font/ifont.eot
  application/fonts/fontello-ifont/font/ifont.svg
  application/fonts/fontello-ifont/font/ifont.ttf
  application/fonts/fontello-ifont/font/ifont.woff
  application/fonts/fontello-ifont/font/ifont.woff2
  application/layouts/scripts/layout.phtml
  library/Icinga/Web/JavaScript.php
  public/css/icinga/main.less
  public/js/icinga/behavior/collapsible.js
  public/js/icinga/storage.js
  public/js/icinga/ui.js
Labels: area/framework, area/javascript, enhancement

#3813 Update JS vendor libs
  application/layouts/scripts/external-logout.phtml
  application/layouts/scripts/layout.phtml
  doc/80-Upgrading.md
  library/Icinga/Application/webrouter.php
  library/Icinga/Chart/Graph/BarGraph.php
  library/Icinga/Chart/Graph/LineGraph.php
  library/Icinga/Web/JavaScript.php
  library/Icinga/Web/Widget/Chart/HistoryColorGrid.php
  modules/monitoring/application/views/helpers/IconImage.php
  public/css/icinga/layout.less
  public/css/icinga/widgets.less
  public/js/helpers.js
  public/js/icinga/behavior/actiontable.js
  public/js/icinga/behavior/autofocus.js
  public/js/icinga/behavior/tooltip.js
  public/js/icinga/events.js
  public/js/icinga/loader.js
  public/js/icinga/ui.js
  public/js/vendor/jquery-1.11.0.js
  public/js/vendor/jquery-1.11.0.min.js
  public/js/vendor/jquery-3.4.1.js
  public/js/vendor/jquery-3.4.1.min.js
  public/js/vendor/jquery-3.4.1.min.map
  public/js/vendor/jquery-migrate-3.1.0.js
  public/js/vendor/jquery-migrate-3.1.0.min.js
  public/js/vendor/jquery.sparkline.js
  public/js/vendor/jquery.sparkline.min.js
  public/js/vendor/jquery.tipsy.js
  public/js/vendor/jquery.tipsy.min.js
Labels: area/javascript, area/vendor-libs

#3837 Don't translate pane and dashlet names in configs
  application/controllers/DashboardController.php
  application/forms/Dashboard/DashletForm.php
  application/views/scripts/dashboard/settings.phtml
  doc/80-Upgrading.md
  library/Icinga/Application/Modules/Module.php
  library/Icinga/Legacy/DashboardConfig.php
  library/Icinga/Web/Navigation/DashboardPane.php
  library/Icinga/Web/Widget/Dashboard.php
  library/Icinga/Web/Widget/Dashboard/Dashlet.php
  library/Icinga/Web/Widget/Dashboard/Pane.php
  modules/migrate/application/clicommands/DashboardCommand.php
Labels: area/dashboard, bug

#3858 Require time output for downtime schedule and end/expire times
  library/Icinga/Date/DateFormatter.php
  library/Icinga/Web/View/helpers/format.php
  modules/monitoring/application/views/scripts/partials/downtime/downtime-header.phtml
  modules/monitoring/application/views/scripts/show/components/downtime.phtml
Labels: area/monitoring, area/ui, bug

#3833 navigation.js: Store and load sidebar collapse state from localStorage
  public/js/icinga/behavior/navigation.js
Labels: area/javascript, enhancement

#3867 Fix confusing downtime notification history
  modules/monitoring/application/views/scripts/partials/event-history.phtml
  modules/monitoring/library/Monitoring/Backend/Ido/Query/EventhistoryQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HostnotificationQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/NotificationhistoryQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicenotificationQuery.php
  modules/monitoring/public/css/tables.less
Labels: area/monitoring, area/ui, enhancement

#3860 Make overdue/unreachable checks better visible
  modules/monitoring/application/controllers/HostController.php
  modules/monitoring/application/controllers/ListController.php
  modules/monitoring/application/views/scripts/list/hosts.phtml
  modules/monitoring/application/views/scripts/list/services.phtml
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HoststatusQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicestatusQuery.php
  modules/monitoring/public/css/tables.less
Labels: area/monitoring, enhancement

#3870 Collapsible plugin output
  modules/monitoring/application/views/helpers/Customvar.php
  modules/monitoring/application/views/helpers/Perfdata.php
  modules/monitoring/application/views/scripts/partials/object/detail-content.phtml
  modules/monitoring/application/views/scripts/show/components/notes.phtml
  modules/monitoring/application/views/scripts/show/components/output.phtml
  modules/monitoring/application/views/scripts/show/components/perfdata.phtml
  public/css/icinga/main.less
  public/js/icinga/behavior/collapsible.js
  public/js/icinga/storage.js
Labels: area/monitoring, area/ui, enhancement

#3676 Improve look of our forms
  application/controllers/GroupController.php
  application/controllers/NavigationController.php
  application/controllers/UserController.php
  application/forms/AcknowledgeApplicationStateMessageForm.php
  application/forms/Announcement/AcknowledgeAnnouncementForm.php
  application/forms/Announcement/AnnouncementForm.php
  application/forms/Authentication/LoginForm.php
  application/forms/Config/User/UserForm.php
  application/forms/Config/UserGroup/UserGroupForm.php
  application/forms/ConfirmRemovalForm.php
  application/forms/Control/LimiterControlForm.php
  application/forms/PreferenceForm.php
  application/forms/Security/RoleForm.php
  application/views/scripts/group/show.phtml
  application/views/scripts/layout/menu.phtml
  application/views/scripts/list/applicationlog.phtml
  application/views/scripts/user/show.phtml
  library/Icinga/Web/Form.php
  library/Icinga/Web/Form/Decorator/FormDescriptions.php
  library/Icinga/Web/Form/Decorator/FormNotifications.php
  library/Icinga/Web/Form/Element/Checkbox.php
  library/Icinga/Web/Form/Element/Textarea.php
  library/Icinga/Web/View.php
  library/Icinga/Web/View/Helper/IcingaCheckbox.php
  library/Icinga/Web/Widget/Announcements.php
  library/Icinga/Web/Widget/ApplicationStateMessages.php
  library/Icinga/Web/Widget/FilterEditor.php
  library/Icinga/Web/Widget/SortBox.php
  library/Icinga/Web/Wizard.php
  modules/monitoring/application/forms/Command/Instance/ToggleInstanceFeaturesCommandForm.php
  modules/monitoring/application/forms/Command/Object/ToggleObjectFeaturesCommandForm.php
  modules/monitoring/application/forms/Config/BackendConfigForm.php
  modules/monitoring/library/Monitoring/Web/Widget/SelectBox.php
  modules/monitoring/public/css/module.less
  modules/setup/application/views/scripts/form/setup-modules.phtml
  modules/setup/application/views/scripts/form/setup-welcome.phtml
  public/css/icinga/controls.less
  public/css/icinga/forms.less
  public/css/icinga/main.less
  public/css/icinga/menu.less
  public/css/icinga/mixins.less
  public/css/icinga/setup.less
  public/css/icinga/widgets.less
  public/img/select-icon-2x.png
  public/img/select-icon.png
  public/img/select-icon.svg
  public/img/textarea-corner-2x.png
  public/img/textarea-corner.png
  public/js/helpers.js
  public/js/icinga/behavior/collapsible.js
  public/js/icinga/events.js
Labels: area/ui, enhancement

#3871 Servicegrid: Add toggle to show problems only or everything
  modules/monitoring/application/controllers/ListController.php
  modules/monitoring/application/views/scripts/list/servicegrid.phtml
  modules/monitoring/public/css/service-grid.less
Labels: area/monitoring, area/ui, enhancement

#3878 Compat: Provide empty LESS mixin .code()
  public/css/icinga/compat.less
Labels: area/framework

#3801 Improve host-service distinction in lists
  modules/monitoring/application/controllers/EventController.php
  modules/monitoring/application/controllers/ListController.php
  modules/monitoring/application/controllers/ShowController.php
  modules/monitoring/application/views/scripts/list/contactgroups.phtml
  modules/monitoring/application/views/scripts/list/contacts.phtml
  modules/monitoring/application/views/scripts/list/notifications.phtml
  modules/monitoring/application/views/scripts/list/services.phtml
  modules/monitoring/application/views/scripts/partials/comment/comment-detail.phtml
  modules/monitoring/application/views/scripts/partials/downtime/downtime-header.phtml
  modules/monitoring/application/views/scripts/partials/event-history.phtml
  modules/monitoring/application/views/scripts/partials/object/host-header.phtml
  modules/monitoring/application/views/scripts/partials/object/service-header.phtml
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HostnotificationQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/NotificationQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicenotificationQuery.php
  modules/monitoring/public/css/module.less
  modules/monitoring/public/css/tables.less
Labels: area/monitoring, area/ui, enhancement

#3846 Add contact and contactgroup filters
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HostgroupQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HoststatusQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicegroupQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicestatusQuery.php
  modules/monitoring/library/Monitoring/DataView/Hostgroupsummary.php
  modules/monitoring/library/Monitoring/DataView/Hoststatus.php
  modules/monitoring/library/Monitoring/DataView/Servicegroupsummary.php
  modules/monitoring/library/Monitoring/DataView/Servicestatus.php
Labels: area/monitoring, enhancement

#3868 Support subquery filters in filter chains
  library/Icinga/Data/Filter/FilterChain.php
  modules/monitoring/application/controllers/TacticalController.php
  modules/monitoring/application/views/scripts/list/hostgroups.phtml
  modules/monitoring/application/views/scripts/list/servicegroups.phtml
  modules/monitoring/library/Monitoring/Backend/Ido/Query/IdoQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicegroupQuery.php
Labels: ref/NC
