Repository Icinga/icingaweb2, pull requests merged in 2019-04, with the labels that each got.

#3708 Don't escape html entities in plugin output twice
  modules/monitoring/application/views/helpers/PluginOutput.php
  modules/monitoring/test/php/application/views/helpers/PluginOutputTest.php
Labels: bug, monitoring, ui

#3706 Fix multiline values in ini files broken
  library/Icinga/File/Ini/Dom/Directive.php
  library/Icinga/File/Ini/IniParser.php
  test/php/library/Icinga/File/Ini/IniParserTest.php
  test/php/library/Icinga/File/Ini/IniWriterTest.php
Labels: bug, configuration, framework

#3724 Add documentation for settings of the monitoring module
  modules/monitoring/doc/03-Configuration.md
Labels: documentation, monitoring

#3704 Preserve <br>s in plugin output
  modules/monitoring/application/views/helpers/PluginOutput.php
  modules/monitoring/test/php/application/views/helpers/PluginOutputTest.php
Labels: bug, monitoring

#3714 use the correct LDAPS port
  library/Icinga/Protocol/Ldap/LdapConnection.php
Labels: Authentication & Authorization, bug, framework

#3741 Fix tactical overview legend badges not properly affected by themes
  modules/monitoring/application/views/scripts/tactical/index.phtml
Labels: bug, monitoring, ui

#3678 Don't allow to reschedule checks for objects with no active checks
  modules/monitoring/application/controllers/HostsController.php
  modules/monitoring/application/controllers/ServicesController.php
  modules/monitoring/application/forms/Command/Object/CheckNowCommandForm.php
  modules/monitoring/application/forms/Command/Object/ScheduleHostCheckCommandForm.php
  modules/monitoring/application/forms/Command/Object/ScheduleServiceCheckCommandForm.php
  modules/monitoring/application/views/scripts/hosts/show.phtml
  modules/monitoring/application/views/scripts/services/show.phtml
  modules/monitoring/configuration.php
  modules/monitoring/doc/06-Security.md
  modules/monitoring/library/Monitoring/Web/Controller/MonitoredObjectController.php
Labels: enhancement, monitoring

#3661 Preserve scroll position upon form submits
  public/js/icinga/loader.js
  public/js/icinga/ui.js
  public/js/icinga/utils.js
Labels: JavaScript, bug, framework

#3671 Monitoring\Controller#getRestriction(): return filters matching all, not none
  modules/monitoring/library/Monitoring/Controller.php
Labels: Authentication & Authorization, bug, monitoring

#3735 Support temperatures (°C, °F) in perfdata
  modules/monitoring/library/Monitoring/Plugin/Perfdata.php
Labels: enhancement, monitoring

#3686 Fix missing PHP-FPM restart after Puppet provisioning finished
  .puppet/modules/php/manifests/init.pp
  .puppet/profiles/icingaweb2_dev/manifests/init.pp
Labels: Vagrant VM, bug

#3749 Fix that the filter is not preserved when navigating away from the host-/servicegrid
  modules/monitoring/application/views/scripts/list/hostgroup-grid.phtml
  modules/monitoring/application/views/scripts/list/hostgroups.phtml
  modules/monitoring/application/views/scripts/list/servicegroup-grid.phtml
  modules/monitoring/application/views/scripts/list/servicegroups.phtml
Labels: bug, monitoring

#3751 Fix php ini parser does not strip trailing whitespace
  library/Icinga/File/Ini/IniParser.php
  test/php/library/Icinga/File/Ini/IniParserTest.php
Labels: bug, configuration, framework

#3610 Fix window id cannot be used to differentiate containers
  application/layouts/scripts/layout.phtml
  public/js/icinga/loader.js
  public/js/icinga/ui.js
  public/js/icinga/utils.js
Labels: bug, framework

#3614 Fix documentation for LDAP Groups
  doc/05-Authentication.md
Labels: Authentication & Authorization, bug, documentation

#3747 ApplicationBootstrap#setupTimezone(): ensure a vaild default timezone to be set in any case
  library/Icinga/Application/ApplicationBootstrap.php
Labels: bug

#3680 Setup: don't require date.timezone
  doc/02-Installation.md
  doc/20-Advanced-Topics.md
  modules/setup/library/Setup/WebWizard.php
Labels: enhancement, installation

#3712 Add check source to history details view.
  modules/monitoring/application/controllers/EventController.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/StatechangeeventQuery.php
  modules/monitoring/library/Monitoring/DataView/Statechangeevent.php
Labels: enhancement, monitoring, ui

#3748 Sortable announcements page
  application/controllers/AnnouncementsController.php
  application/forms/Announcement/AnnouncementForm.php
  application/views/scripts/announcements/index.phtml
  library/Icinga/Data/SimpleQuery.php
  library/Icinga/Web/Announcement/AnnouncementIniRepository.php
Labels: enhancement

#3757 Fix ldap connection fail with multiple servers
  application/forms/Config/Resource/LdapResourceForm.php
  library/Icinga/Protocol/Ldap/LdapConnection.php
Labels: Authentication & Authorization, bug, configuration

#3758 Fix LDAP group members not found
  library/Icinga/Protocol/Ldap/LdapQuery.php
Labels: Authentication & Authorization, bug, framework

#3753 Remove duplicate `class` attribute in event-history views
  modules/monitoring/application/views/scripts/list/eventhistory.phtml
  modules/monitoring/application/views/scripts/partials/event-history.phtml
Labels: bug, monitoring, ui

#3760 CSS: Fix hover effect bug occuring in safari
  modules/monitoring/public/css/tables.less
Labels: bug, monitoring, ui

#3578 Fix uninitialized array and module in Cli\Command
  library/Icinga/Cli/Command.php
Labels: bug, cli
