Repository Icinga/icingaweb2, pull requests merged in 2020-05, with the labels that each got.

#4136 Query\*notificationQuery: add missing host_alias
  modules/monitoring/library/Monitoring/Backend/Ido/Query/HostnotificationQuery.php
  modules/monitoring/library/Monitoring/Backend/Ido/Query/ServicenotificationQuery.php
Labels: area/monitoring, bug

#4149 Load L10n locales
  doc/01-About.md
  library/Icinga/Application/ApplicationBootstrap.php
  modules/translation/doc/03-Translation.md
Labels: area/localization, enhancement

#4152 Show customvar names as-is
  modules/monitoring/application/views/scripts/show/components/customvars.phtml
Labels: area/monitoring, area/ui, enhancement

#4153 Also resolve macro `service.name` in notes_url
  modules/monitoring/library/Monitoring/Object/Macro.php
Labels: area/monitoring, enhancement

#4154 Adjust html detection in plugin output (again)
  modules/monitoring/application/views/helpers/PluginOutput.php
Labels: area/monitoring, bug

#4155 Transmit author when removing downtimes comments and acks
  modules/monitoring/application/forms/Command/Object/DeleteCommentCommandForm.php
  modules/monitoring/application/forms/Command/Object/DeleteCommentsCommandForm.php
  modules/monitoring/application/forms/Command/Object/DeleteDowntimeCommandForm.php
  modules/monitoring/application/forms/Command/Object/DeleteDowntimesCommandForm.php
  modules/monitoring/application/forms/Command/Object/RemoveAcknowledgementCommandForm.php
  modules/monitoring/library/Monitoring/Command/Object/CommandAuthor.php
  modules/monitoring/library/Monitoring/Command/Object/DeleteCommentCommand.php
  modules/monitoring/library/Monitoring/Command/Object/DeleteDowntimeCommand.php
  modules/monitoring/library/Monitoring/Command/Object/RemoveAcknowledgementCommand.php
  modules/monitoring/library/Monitoring/Command/Object/WithCommentCommand.php
  modules/monitoring/library/Monitoring/Command/Renderer/IcingaApiCommandRenderer.php
Labels: area/framework, area/monitoring

#4124 LDAP: Add option to disable server side sorting
  doc/04-Resources.md
  library/Icinga/Protocol/Ldap/LdapConnection.php
Labels: area/authentication, area/framework, enhancement, ref/IP

#4156 Make modals responsive
  public/css/icinga/modal.less
Labels: area/ui, bug

#4102 Add controls to the roles list
  application/controllers/RoleController.php
  application/views/scripts/role/list.phtml
Labels: area/ui, enhancement

#4147 Add missing upgrade docs
  CHANGELOG.md
  doc/80-Upgrading.md
Labels: area/documentation
