Repository Icinga/icingaweb2, pull requests merged in 2021-02, with the labels that each got.

#4311 Show error notification if downtime removal is not successful
  modules/monitoring/application/forms/Command/Object/DeleteDowntimeCommandForm.php
Labels: area/monitoring, area/ui, enhancement

#4317 Fix that subsequent escaped newlines are not transformed in plugin output
  modules/monitoring/application/views/helpers/PluginOutput.php
  modules/monitoring/test/php/application/views/helpers/PluginOutputTest.php
Labels: area/monitoring, bug

#4306 Authorization enhancements
  application/controllers/AccountController.php
  application/controllers/AnnouncementsController.php
  application/controllers/ConfigController.php
  application/controllers/GroupController.php
  application/controllers/NavigationController.php
  application/controllers/RoleController.php
  application/controllers/UserController.php
  application/controllers/UsergroupbackendController.php
  application/forms/Navigation/NavigationConfigForm.php
  application/forms/PreferenceForm.php
  application/forms/Security/RoleForm.php
  application/views/scripts/announcements/index.phtml
  application/views/scripts/config/userbackend/reorder.phtml
  application/views/scripts/group/list.phtml
  application/views/scripts/group/show.phtml
  application/views/scripts/role/list.phtml
  application/views/scripts/user/list.phtml
  application/views/scripts/user/show.phtml
  doc/06-Security.md
  library/Icinga/Application/Web.php
  library/Icinga/Authentication/AdmissionLoader.php
  library/Icinga/Authentication/Role.php
  library/Icinga/Authentication/RolesConfig.php
  library/Icinga/User.php
  library/Icinga/Web/Menu.php
  modules/monitoring/application/controllers/ConfigController.php
  public/css/icinga/widgets.less
  test/php/library/Icinga/UserTest.php
  test/php/library/Icinga/Web/Widget/SearchDashboardTest.php
Labels: affects-upgrades, area/authentication, enhancement

#4135 Enforce database as configuration backend
  application/controllers/AccountController.php
  application/forms/Config/General/ApplicationConfigForm.php
  application/forms/Config/GeneralConfigForm.php
  library/Icinga/Authentication/Auth.php
  library/Icinga/Common/Database.php
  library/Icinga/User/Preferences/PreferencesStore.php
  modules/setup/library/Setup/Requirement/SetRequirement.php
  modules/setup/library/Setup/WebWizard.php
Labels: affects-upgrades, area/configuration

#4276 Fix handling of multi valued ldap attributes
  library/Icinga/Authentication/UserGroup/LdapUserGroupBackend.php
  library/Icinga/Protocol/Ldap/LdapQuery.php
Labels: area/authentication, bug
