Repository Icinga/icingaweb2, pull requests merged in 2021-08, with the labels that each got.

#4501 If appropriate, set the API parameter all_services for schedule-downtime
  modules/monitoring/application/forms/Command/Object/ScheduleHostDowntimeCommandForm.php
  modules/monitoring/library/Monitoring/Command/Object/ApiScheduleHostDowntimeCommand.php
  modules/monitoring/library/Monitoring/Command/Object/ScheduleHostDowntimeCommand.php
  modules/monitoring/library/Monitoring/Command/Renderer/IcingaApiCommandRenderer.php
Labels: area/monitoring, cla/signed

#4500 Utilize multiple encryption ciphers for remember me
  application/controllers/AuthenticationController.php
  library/Icinga/Crypt/AesCrypt.php
  library/Icinga/Web/RememberMe.php
Labels: bug, area/authentication, cla/signed

#4509 IdoQuery: Qualify and resolve subquery filters ASAP
  modules/monitoring/library/Monitoring/Backend/Ido/Query/IdoQuery.php
Labels: bug, area/monitoring, cla/signed

#4511 Check if the column in the row is set for filters
  library/Icinga/Data/Filter/FilterEqual.php
  library/Icinga/Data/Filter/FilterEqualOrGreaterThan.php
  library/Icinga/Data/Filter/FilterEqualOrLessThan.php
  library/Icinga/Data/Filter/FilterLessThan.php
Labels: cla/signed
