Repository Icinga/icingaweb2, pull requests merged in 2022-03, with the labels that each got.

#4687 Fix newline characters in HTML plugin output
  modules/monitoring/application/views/helpers/PluginOutput.php
  modules/monitoring/test/php/application/views/helpers/PluginOutputTest.php
Labels: bug, area/monitoring, ref/IP, cla/signed

#4614 Custom variable rendering hooks
  modules/monitoring/application/views/scripts/partials/object/detail-content.phtml
  modules/monitoring/application/views/scripts/show/components/customvars.phtml
  modules/monitoring/library/Monitoring/Hook/CustomVarRendererHook.php
  modules/monitoring/library/Monitoring/Web/Widget/CustomVarTable.php
  modules/monitoring/public/css/module.less
Labels: enhancement, area/framework, area/monitoring, cla/signed

#4703 Adjust calls to CompatController::setTitle()
  application/controllers/HealthController.php
Labels: cla/signed

#4715 Fix broken check now quick actions
  modules/monitoring/application/views/scripts/partials/object/quick-actions.phtml
Labels: bug, area/monitoring, cla/signed

#4717 Use correct link for the unknown services counter in the tactical overview
  modules/monitoring/application/controllers/TacticalController.php
Labels: bug, area/monitoring, cla/signed

#4721 Restore mouseover for list items on the dashboard
  public/js/icinga/behavior/actiontable.js
Labels: bug, area/javascript, cla/signed

#4724 Fix missing global theme check refs #4723
  application/forms/PreferenceForm.php
Labels: bug, cla/signed
